#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury
/data/mods/DinoMod/ @LyleSY
/data/mods/BombasticPerks/ @bombasticSlacks
/data/mods/MMA/ @Hymore246
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

.clang-tidy @jbytheway
magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @jbytheway @int-ua
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin
