[flake8]
exclude = .git,__pycache__,lang/json,tools/clang-tidy-plugin/test/check_clang_tidy.py
ignore =
    # E265 forces comments to have a space after the '#'.  We have a bunch of
    # optional debugging code commented out this way, and not having a space is
    # a convenient way to distinguish it from proper comments.  Maybe we should
    # delete that code, but unless that happens leaving E265 disabled.
    E265,
    # W503 and W504 require line breaks after or before binary operators; you
    # can only have one enabled
    W504
