[flake8]
exclude = .git,__pycache__,lang/json
ignore =
    # The following errors were present when starting to use flake8; they need
    # to be triaged to determine which we should fix and which we should leave
    # permanently ignored
    E265,
    # W503 and W504 require line breaks after or before binary operators; you
    # can only have one enabled
    W504
