# Automatically normalise line endings for all files
# detected as text (Convert CRLF => LF).
*         text=auto

# Explicitly normalise files with these extensions in
# case Git doesn't detect them as text for some reason.
*.c       text
*.cbp     text
*.cpp     text
*.h       text
*.json    text
*.md      text
*.py      text
*.rc      text
*.sh      text
*.txt     text
*.yml     text

# Visual Studio project files, leave them alone.
*.cmd     -text
*.filters -text
*.sln     -text
*.user    -text
*.vcxproj -text

# Generated translation text, don't mess with them.
*.mo      -text
*.po      -text
*.pot     -text

# Treat images, archives, and font files as binary.
# (binary is a macro for -text -diff)
*.db      binary
*.fon     binary
*.gz      binary
*.ico     binary
*.png     binary
*.ttf     binary

