cataclysm
cataclysm-tiles
chkjson
!src/chkjson
data/*.template
save/
graveyard/
memorial/
obj/
debug.log
logg.txt
bindist/
cataclysmdda-*
objwin/
src/version.h
lua/catabindings.cpp
CataclysmWin.cscope_file_list
CataclysmWin.depend
CataclysmWin.layout
*.exe
*.dll
WinDepend/
*.7z
*.zip

data/font/
data/keymap.txt
data/options.txt
data/auto_pickup.txt
data/fontlist.txt
data/FONTDATA

doxygen_doc/html/*
doxygen_doc/latex/*

data/mods/user-default-mods.json

# Visual Studio files
*.suo
*.sdf
*.pdb
*.ilk
Release*/
Debug*/
*.opensdf

# Temporary and backup files
*~
\#*
*.bak
*.cbTemp
*.sw?
gmon.out

# System Files
Thumbs.db
.DS_Store
core
tags
cscope.*

# Compiled binary translations
lang/mo/
