# this file is HEAVILY influenced by https://github.com/boostorg/hana/blob/master/.travis.yml

dist: xenial
language: c++

cache: ccache

notifications:
  email: false
  irc: "irc.freenode.org#Cataclysm-DDA"
  use_notice: true
  skip_join: true

git:
  depth: 5

addons:
  # these apt sources will be referenced later (by using *name)
  apt:
    sources: &apt_sources
      - ubuntu-toolchain-r-test
    config:
      retries: true

compiler: gcc
os: linux

# We have branch builds disabled globally to prevent double-builds of PRs.
# This re-enables just the master branch.
branches:
  only:
  - master
  - development

# Overall strategy for what sorts of builds to include:
# We want a build for each compiler and each platform.
# For PRs, we lessen the "each compiler" requirement to just covering the newest
# and oldest relevant version of each compiler.
# We also want to ensure that each of the following tweaks are covered in at
# least one PR build:
# - TILES=1
# - SOUND=1
# - RELEASE=1
# - CMAKE=1
# - SANITIZE=address
# - LOCALIZE=0
# - A clang-tidy run
# We try to minimize the number of builds subject to those constraints.

# To see what toolchains are available, consult the following:
# https://github.com/travis-ci/apt-source-safelist/blob/master/ubuntu.json
# https://launchpad.net/%7Eubuntu-toolchain-r/+archive/ubuntu/test/+index

jobs:
  include:
    # Initial test stage, if this fails everything else is cancelled.
    - stage: test
      # Clang is consistently the fastest to build, so use it for the initial test.
      # Clang 3.8, oldest supported Clang, build with Makefile with extra tests and json style check.
      env: CLANG=clang++-3.8 MODS=--mods=RL_Classes TEST_STAGE=1 CXXFLAGS='-Wno-error=unused-command-line-argument -D__extern_always_inline="extern __always_inline"'
      compiler: clang
      addons: &clang38
        apt:
          packages: ["clang-3.8", "g++-multilib", "libc6-dbg", "libc6-dbg:i386", "g++-6"]
          sources: *apt_sources

    # Then build different configurations and targets in parallel.
    - stage: variants
      # GCC 5.3, oldest supported GCC, build with Makefile configured for Curses, disable LOCALIZE
      env: COMPILER=g++ LOCALIZE=0
      compiler: gcc
      addons: &gcc53
        apt:
          packages: ["g++-5=5.3.1-14ubuntu2", "libstdc++-5-dev=5.3.1-14ubuntu2", "gcc-5=5.3.1-14ubuntu2", "gcc-5-base=5.3.1-14ubuntu2", "cpp-5=5.3.1-14ubuntu2", "libgcc-5-dev=5.3.1-14ubuntu2", "libasan2=5.3.1-14ubuntu2", "libmpx0=5.3.1-14ubuntu2"]
          sources: [*apt_sources]

    # GCC 8, latest supported GCC, build with Makefile configured with TILES and SOUND and use address sanitization
    - env: COMPILER=g++-8 CXXFLAGS='-Wno-implicit-fallthrough' TILES=1 SOUND=1 SANITIZE=address
      compiler: gcc
      addons: &gcc8
        apt:
          packages: ["g++-8",   "g++-8-multilib",   "libc6-dbg", "libc6-dbg:i386", "libsdl2-dev", "libsdl2-ttf-dev", "libsdl2-image-dev", "libsdl2-mixer-dev"]
          sources: *apt_sources

    # Clang 8, latest supported Clang, build with Makefile and address sanitization, but disable some very long-running tests
    - env: CLANG=clang++-8 SANITIZE=address EXTRA_TEST_OPTS="~[.] ~vehicle_efficiency ~vehicle_drag ~starting_items"
      compiler: clang
      addons: &clang8
        apt:
          packages: ["clang-8", "libc6-dbg", "libc6-dbg:i386"]
          sources: [*apt_sources, llvm-toolchain-xenial-8]

    # MXE variant using alternate repository http://mirror.mxe.cc/repos/apt
    # Mingw-w64 building with Tiles and Sound
    - env: COMPILER='g++' LDFLAGS='-static-libgcc -static-libstdc++' MXE_TARGET='i686-w64-mingw32.static' WINE='wine' TILES=1 SOUND=1
      compiler: gcc
      addons: &gcc
        apt:
          packages: ["wine"]

    # macOS Tiles
    # Xcode 10.1 building with Tiles and sound
    - env: CLANG=clang++ NATIVE=osx OSX_MIN=10.13 TILES=1 SOUND=1
      os: osx
      osx_image: xcode10.1
      compiler: clang

    # Execute Clang-tidy with CMake, configured with Tiles and Sound
    # (analysis only; no build or tests)
    - env: CLANG=clang++-8 TILES=1 SOUND=1 CXXFLAGS=-Wno-unused-command-line-argument CMAKE=1 CATA_CLANG_TIDY=clang-tidy-8
      compiler: clang
      addons: &clang8
        apt:
          packages: ["clang-8", "clang-tidy-8", "libsdl2-dev", "libsdl2-ttf-dev", "libsdl2-image-dev", "libsdl2-mixer-dev"]
          sources: [*apt_sources, llvm-toolchain-xenial-8]

    # Finally check the compiler variants
    - stage: compilers
    # GCC 5.4 is default on Xenial
      env: COMPILER=g++
      if: type != pull_request

    # GCC 6
    - env: COMPILER=g++-6
      if: type != pull_request
      compiler: gcc
      addons: &gcc6
        apt:
          packages: ["g++-6",   "g++-6-multilib",   "libc6-dbg", "libc6-dbg:i386"]
          sources: *apt_sources

    # GCC 7, adding _GLIBCXX_DEBUG so that one build can test with that
    - env: COMPILER=g++-7 CXXFLAGS='-Wno-implicit-fallthrough -D_GLIBCXX_DEBUG' CODE_COVERAGE=true
      if: type != pull_request
      compiler: gcc
      addons: &gcc7
        apt:
          packages: ["g++-7",   "g++-7-multilib",   "libc6-dbg", "libc6-dbg:i386", "lcov"]
          sources: *apt_sources

    # GCC MinGW with only terminal support
    - env: COMPILER='g++' LDFLAGS='-static-libgcc -static-libstdc++' MXE_TARGET='i686-w64-mingw32.static' WINE='wine'
      if: type != pull_request
      addons: &gcc
        apt:
          packages: ["wine"]

    # Clang 3.9
    - env: CLANG=clang++-3.9 CXXFLAGS='-Wno-error=unused-command-line-argument -D__extern_always_inline="extern __always_inline"'
      if: type != pull_request
      compiler: clang
      addons: &clang39
        apt:
          packages: ["clang-3.9", "g++-multilib", "libc6-dbg", "libc6-dbg:i386", "g++-6"]
          sources: *apt_sources

    # Clang 4.0
    - env: CLANG=clang++-4.0 CXXFLAGS=-Wno-error=unused-command-line-argument
      if: type != pull_request
      compiler: clang
      addons: &clang40
        apt:
          packages: ["clang-4.0", "g++-multilib", "libc6-dbg", "libc6-dbg:i386", "g++-6"]
          # Luckily the Trusty install Just Works on Xenial
          sources: [*apt_sources, llvm-toolchain-trusty-4.0]

    # Clang 5.0 (still on Trusty, because I could find no readily available
    # source on Xenial at time of writing)
    - env: CLANG=clang++-5.0 CXXFLAGS=-Wno-error=unused-command-line-argument
      if: type != pull_request
      dist: trusty
      compiler: clang
      addons: &clang50
        apt:
          packages: ["clang-5.0", "g++-multilib", "libc6-dbg", "libc6-dbg:i386", "g++-6"]
          sources: [*apt_sources, llvm-toolchain-trusty-5.0]

    # CMake Clang 6.0 Tiles with CMAKE
    - env: CLANG=clang++-6.0 TILES=1 SOUND=1 CXXFLAGS=-Wno-error=unused-command-line-argument CMAKE=1 RELEASE=1
      if: type != pull_request
      compiler: clang
      addons: &clang60
        apt:
          packages: ["clang-6.0", "g++-multilib", "libc6-dbg", "g++-6", "libsdl2-dev", "libsdl2-ttf-dev", "libsdl2-image-dev", "libsdl2-mixer-dev"]
          sources: [*apt_sources, llvm-toolchain-xenial-6.0]

    # Clang 7
    - env: CLANG=clang++-7
      if: type != pull_request
      compiler: clang
      addons: &clang7
        apt:
          packages: ["clang-7", "libc6-dbg", "libc6-dbg:i386"]
          sources: [*apt_sources, llvm-toolchain-xenial-7]

before_script:
  - if [ -n "${CLANG}" ]; then COMPILER="$CLANG"; fi
  - ${COMPILER} --version
  - CXX="$COMPILER"
  - source build-scripts/requirements.sh

script:
  - build-scripts/build.sh

after_success:
  - if [ -n "${CODE_COVERAGE}" ]; then coveralls -b . -i src -e tests --gcov /usr/bin/gcov-4.8; fi
  - if [ -n "${CODE_COVERAGE}" ]; then bash <(curl -s https://codecov.io/bash); fi
