!config/
*.iml
.cxx
.DS_Store
.externalNativeBuild
.gradle
/.idea/libraries
/.idea/workspace.xml
/app/jni/SDL2
/app/jni/SDL2_image
/app/jni/SDL2_mixer
/app/jni/SDL2_ttf
/app/jni/libintl-lite
/app/jni/lua
/app/jni/mpg-123
/app/build
/build
/captures
/local.properties
