---
---

@import "{{ site.theme }}";

$background-color: #222222;
$text-color: #dddddd;
$primary-color: #c14924;

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: $background-color;
  color: $text-color;
}

.site-header {
  background: #111111;
  box-shadow: 0 2px 4px -1px rgba(#000000, 0.25);
  color: #ffffff;
  border: 0;
}

.site-nav .page-link,
.site-title,
.site-title:visited {
  color: inherit;
}

.site-nav {
  @media screen and (max-width: 600px) {
    background-color: #777777;
  }
}

.page-link--download {
  background: $primary-color;
  padding: 10px;
}