name: Detect missions that are missing .start.assign_mission_target.om_special

on:
  pull_request:
    paths:
      - '**.json'

permissions:
  contents: read

jobs:
  run-the-tool:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      with:
        persist-credentials: false
    - run: ./tools/json_tools/assign_mission_target_needs_om_special.bash 2>&1
