name: C/C++ CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: install dependencies
      run: apt-get install libncursesw5-dev
    - name: make
      run: make
    - name: make test
      run: make test
