name: General build matrix

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  skip-duplicates:
    continue-on-error: false
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@master
        with:
          paths-ignore: '["android/**", "build-data/osx/**", "doc/**", "doxygen_doc/**", "lgtm/**", "msvc-**", "object_creator/**", "tools/**", "utilities/**"]'
  varied_builds:
    needs: skip-duplicates
    if: ${{ needs.skip-duplicates.outputs.should_skip != 'true' }}
    strategy:
      matrix:
        include:
          - compiler: g++-7
            os: ubuntu-latest
            cmake: 1
            tiles: 1
            native: linux64
            title: GCC 7, Ubuntu, Tiles, CMake
          - compiler: g++-8
            os: ubuntu-latest
            cmake: 0
            tiles: 1
            sanitize: address
            native: linux64
            title: GCC 8, Ubuntu, Tiles, ASan
          - compiler: clang++-12
            os: ubuntu-latest
            cmake: 0
            tiles: 1
            sanitize: address,undefined
            native: linux64
            title: Clang 12, Ubuntu, Tiles, ASan, UBSan
          - compiler: clang++
            os: macos-10.15
            cmake: 0
            tiles: 1
            native: osx
            title: Clang 12, macOS 10.15, Tiles
          - compiler: g++
            os: ubuntu-latest
            cmake: 0
            tiles: 1
            title: GCC, Ubuntu cross-compile to MinGW-Win64, Tiles
            ldflags: -static-libgcc -static-libstdc++
            mxe_target: i686-w64-mingw32.static
            wine: wine
    name: ${{ matrix.title }}
    runs-on: ${{ matrix.os }}
    env:
        CMAKE: ${{ matrix.cmake }}
        COMPILER: ${{ matrix.compiler }}
        MXE_TARGET: ${{ matrix.mxe_target }}
        WINE: ${{ matrix.wine }}
        OS: ${{ matrix.os }}
        TILES: ${{ matrix.tiles }}
        SOUND: ${{ matrix.tiles }}
        SANITIZE: ${{ matrix.sanitize }}
        TEST_STAGE: ${{ matrix.test-stage }}
        LDFLAGS: ${{ matrix.ldflags }}
        EXTRA_TEST_OPTS: --error-format=github-action
        NATIVE: ${{ matrix.native }}
        GOLD: ${{ matrix.gold }}
        LTO: ${{ matrix.lto }}
        RELEASE: 1
    steps:
    - name: checkout repository
      uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: install dependencies (ubuntu)
      if: runner.os == 'Linux'
      run: |
          sudo apt-get update
          sudo apt-get install libncursesw5-dev libsdl2-dev libsdl2-ttf-dev libsdl2-image-dev \
            libsdl2-mixer-dev libpulse-dev ccache gettext parallel
    - name: install old GCC (ubuntu)
      if: runner.os == 'Linux' && (matrix.compiler == 'g++-7' || matrix.compiler == 'g++-8')
      run: |
          sudo apt-get install g++-7 g++-8
    - name: install dependencies (mac)
      if: runner.os == 'macOS'
      run: |
          HOMEBREW_NO_AUTO_UPDATE=yes HOMEBREW_NO_INSTALL_CLEANUP=yes brew install sdl2 sdl2_image sdl2_ttf sdl2_mixer gettext ccache parallel
    - name: prepare
      run: bash ./build-scripts/requirements.sh
    - name: Get Date
      id: get-date
      run: |
        echo "::set-output name=date::$(/bin/date -u "+%Y%m%d%H%M")"
      shell: bash
    - name: ccache cache files (ubuntu)
      if: runner.os == 'Linux'
      uses: actions/cache@v2
      with:
        path: ~/.ccache
        key: ccache-linux-${{ matrix.compiler }}-${{ steps.get-date.outputs.date }}
        restore-keys: |
          ccache-linux-${{ matrix.compiler }}-
    - name: ccache cache files (mac)
      if: runner.os == 'macOS'
      uses: actions/cache@v2
      with:
        path: /Users/runner/Library/Caches/ccache
        key: ccache-mac-${{ matrix.compiler }}-${{ steps.get-date.outputs.date }}
        restore-keys: |
          ccache-mac-${{ matrix.compiler }}-
    - uses: ammaraskar/gcc-problem-matcher@master
    - name: build and test
      run: bash ./build-scripts/build.sh
    - name: upload artifacts if failed
      uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: cata_test
        path: tests/cata_test
        if-no-files-found: ignore
