name: General build matrix

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
    types: [opened, reopened, synchronize, ready_for_review]

# We only care about the latest revision of a PR, so cancel all previous instances.
# Allow running master builds to complete to help with ccache refreshes.
concurrency:
  group: general-build-${{ github.event.pull_request.number || github.ref_name }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

# Overall strategy for what sorts of builds to include:
# We want a build for the newest and oldest supported version of each compiler.
# We want a build for each platform.
# We also want to ensure that each of the following tweaks are covered in at
# least one PR build:
# - TILES=1
# - SOUND=1
# - RELEASE=1
# - CMAKE=1
# - LOCALIZE=0
# - LTO=1 (to catch ODR violations)
# - LIBBACKTRACE=1 (on Linux and Windows)
# - Tests with important mods enabled (Magiclysm)
# - A clang-tidy run
# - SANITIZE=address,undefined
# We try to minimize the number of builds subject to those constraints.
#
# To see what toolchains are available, the following may be useful:
# https://launchpad.net/%7Eubuntu-toolchain-r/+archive/ubuntu/test/+index
# https://apt.llvm.org/
# For github provided runners: https://github.com/actions/runner-images
# See also our publicized docs about compiler support: https://github.com/CleverRaven/Cataclysm-DDA/blob/master/doc/c++/COMPILER_SUPPORT.md
#
# At the time of writing (Jan 2025), the feature matrix for the above criteria looks like this:
# | name                                 | OS       | compiler | newest/ oldest | tiles | sound | localize | cmake | backtrace | lto | sanitize | mods |
# | ------------------------------------ | -------- | -------- | -------------- | ----- | ----- | -------- | ----- | --------- | --- | -------- | ---- |
# | Basic Build and Test                 | ubuntu   | clang-13 | oldest (clang) |       |       | yes      |       |           |     |          | yes  |
# | Clang 18, Ubuntu, Tiles, ASan        | ubuntu   | clang-18 | newest (clang) | yes   |       | yes      |       | yes       |     | address  |      |
# | GCC 9, Curses, LTO                   | ubuntu   | gcc-9    | oldest   (gcc) |       |       | yes      |       | yes       | yes |          |      |
# | GCC 12, Ubuntu, Curses, ASan         | ubuntu   | gcc-12   | newest*  (gcc) |       |       | yes      |       |           |     | address  |      |
# | GCC 9, Ubuntu, Tiles, Sound, CMake   | ubuntu   | gcc-9    | oldest   (gcc) | yes   | yes   |          | yes   |           |     |          |      |
# | macOS 13, Apple Clang 15             | macOS 13 | apple clang-15  |  N/A    | yes   | yes   | yes      |       |           |     |          |      |
# | Windows (in msvc-full-features.yml)  | windows  | msvc     |     N/A        | yes   | yes   | yes      |       | yes?      |     |          |      |
#
# gcc-12 is not actually newest. gcc-14 exists, but it's failing the asan tests on newer (24.04) ubuntu runners for whatever reason.
# See https://github.com/CleverRaven/Cataclysm-DDA/pull/79517#issuecomment-2635790180 for a tiny bit more context

jobs:
  skip-duplicates-code:
    continue-on-error: true
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      should_skip_code: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@master
        with:
          skip_after_successful_duplicate: 'false'
          paths_ignore: '["android/**", "build-data/osx/**", "doc/**", "doxygen_doc/**", "lgtm/**", "msvc-**", "object_creator/**", "tools/**", "utilities/**", "data/**", "lang/**"]'
  skip-duplicates-data:
    continue-on-error: true
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      should_skip_data: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@master
        with:
          skip_after_successful_duplicate: 'false'
          paths_ignore: '["android/**", "build-data/osx/**", "doc/**", "doxygen_doc/**", "lgtm/**", "msvc-**", "object_creator/**", "tools/**", "utilities/**"]'
  matrix-variables:
    permissions:
      contents: none
    continue-on-error: true
    runs-on: ubuntu-latest
    outputs:
      fail_fast: ${{ steps.matrix_vars.outputs.fail_fast }}
      skip_tests: ${{ steps.matrix_vars.outputs.skip_tests }}
      max_parallel: ${{ steps.matrix_vars.outputs.max_parallel }}
    steps:
      - id: matrix_vars
        run: |
          echo "fail_fast=$([ "$GITHUB_REF_NAME" = "master" -o "$GITHUB_REPOSITORY_OWNER" != "CleverRaven" ] && echo false || echo true)" >> $GITHUB_OUTPUT
          echo "skip_tests=$([ "$GITHUB_REF_NAME" = "master" ] && echo true || echo false)" >> $GITHUB_OUTPUT
          echo "max_parallel=$([ "$GITHUB_REF_NAME" = "master" -o "$GITHUB_REPOSITORY_OWNER" != "CleverRaven" ] && echo 20 || echo 1)" >> $GITHUB_OUTPUT
  varied_builds:
    needs: [ skip-duplicates-code, skip-duplicates-data, matrix-variables ]
    strategy:
      fail-fast: ${{ fromJSON(needs.matrix-variables.outputs.fail_fast) }}
      max-parallel: ${{ fromJSON(needs.matrix-variables.outputs.max_parallel) }}
      matrix:
        include:
          - compiler: clang++-13
            os: ubuntu-22.04
            tiles: 0
            sound: 0
            cmake: 0
            localize: 1
            test-stage: 1
            native: linux64
            pch: 1
            archive-success: basic-build
            dont_skip_data_only_changes: 1
            mods: --mods=magiclysm
            title: Basic Build and Test (Clang oldest supported, Ubuntu, Curses)
            ccache_limit: 4.5G
            ccache_key: linux-llvm-13

          - compiler: clang++
            os: macos-13
            cmake: 0
            native: osx
            pch: 0
            tiles: 1
            sound: 1
            localize: 1
            title: macOS 13, Apple Clang 15, Tiles, Sound, x64 and arm64 Universal Binary
            ccache_limit: 10G
            ccache_key: macos-llvm-15-universal

          - title: Android x64 (build only)
            os: ubuntu-latest
            android: arm64

          - compiler: g++-9
            os: ubuntu-22.04
            cmake: 0
            tiles: 0
            sound: 0
            localize: 1
            gold: 1
            lto: 1
            libbacktrace: 1
            native: linux64
            pch: 1
            cxxflags: -gsplit-dwarf
            title: GCC 9, Curses, LTO
            ccache_limit: 7.5G
            ccache_key: linux-gcc-9-lto

          - compiler: clang++-18
            os: ubuntu-latest
            cmake: 0
            tiles: 1
            sound: 0
            localize: 1
            native: linux64
            pch: 1
            sanitize: address
            dont_skip_data_only_changes: 1
            title: Clang 18, Ubuntu, Tiles, ASan
            ccache_limit: 6G
            ccache_key: linux-llvm-18-asan

          - compiler: g++-12
            os: ubuntu-22.04
            cmake: 0
            tiles: 0
            sound: 0
            localize: 1
            native: linux64
            pch: 1
            sanitize: address
            title: GCC 12, Ubuntu, Curses, ASan
            ccache_limit: 6.5G
            ccache_key: linux-gcc-12-asan

          - compiler: g++-9
            os: ubuntu-22.04
            cmake: 1
            tiles: 1
            sound: 1
            localize: 0
            native: linux64
            pch: 1
            title: GCC 9, Ubuntu, Tiles, Sound, CMake
            ccache_limit: 1G
            ccache_key: linux-gcc-9-cmake

    name: ${{ matrix.title }}
    runs-on: ${{ matrix.os }}
    env:
        ZSTD_CLEVEL: 17
        CMAKE: ${{ matrix.cmake }}
        COMPILER: ${{ matrix.compiler }}
        MXE_TARGET: ${{ matrix.mxe_target }}
        WINE: ${{ matrix.wine }}
        ANDROID: ${{ matrix.android }}
        OS: ${{ matrix.os }}
        TILES: ${{ matrix.tiles }}
        SOUND: ${{ matrix.sound }}
        LOCALIZE: ${{ matrix.localize }}
        MODS: ${{ matrix.mods }}
        SANITIZE: ${{ matrix.sanitize }}
        TEST_STAGE: ${{ matrix.test-stage }}
        CXXFLAGS: ${{ matrix.cxxflags }}
        LDFLAGS: ${{ matrix.ldflags }}
        EXTRA_TEST_OPTS: --error-format=github-action
        NUM_TEST_JOBS: ${{ matrix.num_test_jobs }}
        NATIVE: ${{ matrix.native }}
        PCH: ${{ matrix.pch }}
        GOLD: ${{ matrix.gold }}
        LTO: ${{ matrix.lto }}
        LIBBACKTRACE: ${{ matrix.libbacktrace }}
        RELEASE: 1
        ARCHIVE_SUCCESS: ${{ matrix.archive-success }}
        CCACHE_LIMIT: ${{ matrix.ccache_limit }}
        CCACHE_FILECLONE: true
        CCACHE_HARDLINK: true
        CCACHE_NOCOMPRESS: true
        SKIP: >-
          ${{
          ( github.event.pull_request.draft == true && matrix.title != 'Basic Build and Test (Clang 13, Ubuntu, Curses)' ) ||
          ( matrix.dont_skip_data_only_changes == 0 && needs.skip-duplicates.outputs.should_skip_code == 'true' ) ||
          ( matrix.dont_skip_data_only_changes != 0 && needs.skip-duplicates-mods.outputs.should_skip_data == 'true' )
          }}
        SKIP_TESTS: ${{ fromJSON(needs.matrix-variables.outputs.skip_tests) || (matrix.android != '') }}
    steps:
    - name: Maximize build space
      if: ${{ runner.os == 'Linux' }}
      uses: AdityaGarg8/remove-unwanted-software@v4.1
      with:
        remove-android: ${{ matrix.android == '' }}
    - name: checkout repository
      if: ${{ env.SKIP == 'false' }}
      uses: actions/checkout@v4
    - name: install dependencies (ubuntu)
      if: ${{ env.SKIP == 'false' && runner.os == 'Linux' }}
      run: |
          sudo apt-get update
          sudo apt-get install libncursesw5-dev ccache gettext parallel
          sudo locale-gen en_US.UTF-8 de_DE.UTF-8
    - name: install SDL2 dependencies (ubuntu)
      if: ${{ env.SKIP == 'false' && runner.os == 'Linux' && matrix.tiles == 1 }}
      run: |
          sudo apt-get install libflac-dev libsdl2-dev libsdl2-ttf-dev libsdl2-image-dev libsdl2-mixer-dev libpulse-dev
    - name: install recent ccache on ubuntu
      if: ${{ env.SKIP == 'false' && runner.os == 'Linux' }}
      run: |
          ccache --version
          sudo apt-get remove --purge -y ccache
          curl -sL https://github.com/ccache/ccache/releases/download/v4.10.2/ccache-4.10.2-linux-x86_64.tar.xz | sudo tar Jxvf - --strip-components 1 -C /usr/bin ccache-4.10.2-linux-x86_64/ccache
          ccache --version
    - name: install runtime dependencies (mac)
      if: ${{ env.SKIP == 'false' && runner.os == 'macOS' }}
      uses: BrettDong/setup-sdl2-frameworks@v1
      with:
        sdl2: 2.30.11
        sdl2-ttf: 2.24.0
        sdl2-image: 2.8.4
        sdl2-mixer: 2.8.0
    - name: install build dependencies (mac)
      if: ${{ env.SKIP == 'false' && runner.os == 'macOS' }}
      run: |
          HOMEBREW_NO_AUTO_UPDATE=yes HOMEBREW_NO_INSTALL_CLEANUP=yes brew install gettext ccache parallel
    - name: install macports (mac)
      if: ${{ env.SKIP == 'false' && runner.os == 'macOS' && matrix.tiles == 1 }}
      uses: melusina-org/setup-macports@v1
      with:
        parameters: '.github/macports/macports.yml'
    - name: prepare
      if: ${{ env.SKIP == 'false' }}
      run: bash ./build-scripts/requirements.sh
    - name: Get ccache vars
      id: get-vars
      if: ${{ env.SKIP == 'false' }}
      run: |
        echo "datetime=$(/bin/date -u "+%Y%m%d%H%M")" >> $GITHUB_OUTPUT
        echo "datetime-seconds=$(/bin/date +%s)" >> $GITHUB_OUTPUT
        echo "ccache-path=$([ "$RUNNER_OS" = "macOS" ] && echo '/Users/runner/Library/Caches/ccache' || echo '~/.cache/ccache')" >> $GITHUB_OUTPUT
      shell: bash
    - name: ccache cache files
      if: ${{ env.SKIP == 'false' && ( runner.os == 'Linux' || runner.os == 'macOS' ) && matrix.ccache_key != '' }}
      uses: actions/cache@v4
      with:
        path: ${{ steps.get-vars.outputs.ccache-path }}
        # double-dash after compiler is not a typo, it is to disambiguate between g++-<date> and g++-11-<date> for restore key prefix matching
        key: ccache-${{ github.ref_name }}-${{ matrix.ccache_key }}--${{ steps.get-vars.outputs.datetime }}
        restore-keys: |
          ccache-master-${{ matrix.ccache_key }}--
    - uses: ammaraskar/gcc-problem-matcher@master

    - name: Set up JDK 8 (android)
      if: runner.os == 'Linux' && matrix.android != 'none'
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Build CDDA
      if: ${{ env.SKIP == 'false' }}
      run: bash ./build-scripts/gha_compile_only.sh
    - name: post-build ccache manipulation
      if: ${{ env.SKIP == 'false' && !failure() && (runner.os == 'Linux' || runner.os == 'macOS') && matrix.ccache_key != '' }}
      run: |
        ccache --show-stats --verbose
        NOW=`/bin/date +%s`
        DELTA=$(( $NOW - ${{ steps.get-vars.outputs.datetime-seconds }} ))
        ccache --evict-older-than ${DELTA}s
        ccache --show-stats --verbose
        ccache -M ${{ env.CCACHE_LIMIT }}
        ccache -c
        ccache --show-stats --verbose
    - name: clear ccache on PRs
      if: ${{ github.ref_name != 'master' && env.SKIP == 'false' && !failure() && (runner.os == 'Linux' || runner.os == 'macOS') }}
      run: |
        ccache -C
    # TODO: post ccache here, however actions/cache@v2 does not support manual upload step
    - name: run tests
      if: ${{ env.SKIP == 'false' && env.SKIP_TESTS == 'false' }}
      run: bash ./build-scripts/gha_test_only.sh
    - run: |
        echo ${{ github.event.number }} > pull_request_id
        echo "true" > ${{ env.ARCHIVE_SUCCESS }}
      if: ${{ env.ARCHIVE_SUCCESS && success() }}
    - run: |
        echo ${{ github.event.number }} > pull_request_id
        echo "false" > ${{ env.ARCHIVE_SUCCESS }}
      if: ${{ env.ARCHIVE_SUCCESS && failure() }}
    - uses: actions/upload-artifact@v4
      if: ${{ always() && env.ARCHIVE_SUCCESS }}
      with:
        name: pull_request_id
        path: pull_request_id
    - uses: actions/upload-artifact@v4
      if: ${{ always() && env.ARCHIVE_SUCCESS }}
      with:
        name: ${{ env.ARCHIVE_SUCCESS }}
        path: ${{ env.ARCHIVE_SUCCESS }}
    - name: upload artifacts if failed
      uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: cata_test
        path: tests/cata_test*
        if-no-files-found: ignore
        retention-days: 9
  emscripten:
    needs: [ skip-duplicates-code, varied_builds ]
    uses: ./.github/workflows/emscripten.yml
    if: ${{ needs.skip-duplicates.outputs.should_skip_code != 'true' && success() && github.event.pull_request.draft == false }}
    secrets: inherit
